.container {
    width: 100%;
    margin: 0 auto;
  
    list-style: none;
    padding: 0;
  }
  
  .slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 80vh;
    margin-bottom: 10vh;
  }

  